@model FITNSS.Models.StudentProfileModel

@{
    ViewData["Title"] = "Coach Dashboard";
}

<div class="d-flex">

    @Html.Partial("Sidebar")
    <div class="main-content-student">
        <div class="container-fluid p-5">
            <div class="d-flex justify-content-between">
                <div>
                    <p class="fs-4 text-muted m-0">Good Morning</p>
                    <h2 class="m-0 mb-3">
                        Hello, Franz
                    </h2>
                </div>
                <div>
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M12 2C16.9706 2 21 6.04348 21 11.0314V20H3V11.0314C3 6.04348 7.02944 2 12 2ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z"></path></svg>
                </div>
            </div>
            <div>
                <div class="row d-flex" style="row-gap: 1rem;">
                    <div class="col-12 col-lg-4">
                        <div class="card border-0">
                            <div class="card-body d-flex align-items-center gap-4 p-3 shadow rounded-5">
                                <div class="">
                                    <svg width="60" height="60" class="p-2 rounded-circle bg-danger bg-opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#b90012"><path d="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM17.3628 15.2332C20.4482 16.0217 22.7679 18.7235 22.9836 22H20C20 19.3902 19.0002 17.0139 17.3628 15.2332ZM15.3401 12.9569C16.9728 11.4922 18 9.36607 18 7C18 5.58266 17.6314 4.25141 16.9849 3.09687C19.2753 3.55397 21 5.57465 21 8C21 10.7625 18.7625 13 16 13C15.7763 13 15.556 12.9853 15.3401 12.9569Z"></path></svg>
                                </div>
                                <div>
                                    <p class="m-0 fs-4">Total Athletes</p>
                                    <h1 class="m-0" style="color: #b90012;">@ViewBag.TotalAthlete</h1>
                                    <p class="text-success m-0">+12 this month</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-12 col-lg-4">
                        <div class="card border-0">
                            <div class="card-body d-flex align-items-center gap-4 p-3 shadow rounded-5">
                                <div class="">
                                    <svg width="60" height="60" class="p-2 rounded-circle bg-opacity-50" style="background:#4effad80;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00c134"><path d="M4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12ZM12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM17.4571 9.45711L16.0429 8.04289L11 13.0858L8.20711 10.2929L6.79289 11.7071L11 15.9142L17.4571 9.45711Z"></path></svg>
                                </div>
                                <div>
                                    <p class="m-0 fs-4">Pending Verification</p>
                                    <h1 class="m-0" style="color: #00c134;">@ViewBag.PendingVerification</h1>
                                    <p class="text-muted m-0">Waiting for approval</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card border-0">
                            <div class="card-body d-flex align-items-center gap-4 p-3 shadow rounded-5">
                                <div class="">
                                    <svg width="60" height="60" class="p-2 rounded-circle bg-danger bg-opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#b90012"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
                                </div>
                                <div>
                                    <p class="m-0 fs-4">Wellness Alerts</p>
                                    <h1 class="m-0" style="color: #b90012;">247</h1>
                                    <p class="text-success m-0">8 sports covered</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body p-3">
                                <div class="">
                                    <h2>Recent Activities</h2>
                                </div>
                                <div class="my-3">
                                    <div class="d-flex align-items-center gap-4 p-2 px-4 rounded-3" style="background: #98c2ffa3;">
                                        <div>
                                            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg>
                                        </div>
                                        <div>
                                            <p class="m-0 fs-4 fw-semibold">New Athlete Registration</p>
                                            <p class="text-muted m-0">Maria Santos joined Basketball team</p>
                                            <p class="text-muted m-0">2hrs ago</p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="d-flex align-items-center gap-4 p-2 px-4 rounded-3" style="background: #98c2ffa3;">
                                        <div>
                                            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg>
                                        </div>
                                        <div>
                                            <p class="m-0 fs-4 fw-semibold">New Athlete Registration</p>
                                            <p class="text-muted m-0">Maria Santos joined Basketball team</p>
                                            <p class="text-muted m-0">2hrs ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body p-3">
                                <div class="">
                                    <h2>Athlete Readiness</h2>
                                </div>
                                <div class="my-3">
                                    <div class="d-flex align-items-center gap-4 p-2 px-4 rounded-3" style="background: #98c2ffa3;">
                                        <div>
                                            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg>
                                        </div>
                                        <div>
                                            <p class="m-0 fs-4 fw-semibold">New Athlete Registration</p>
                                            <p class="text-muted m-0">Maria Santos joined Basketball team</p>
                                            <p class="text-muted m-0">2hrs ago</p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="d-flex align-items-center gap-4 p-2 px-4 rounded-3" style="background: #98c2ffa3;">
                                        <div>
                                            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg>
                                        </div>
                                        <div>
                                            <p class="m-0 fs-4 fw-semibold">New Athlete Registration</p>
                                            <p class="text-muted m-0">Maria Santos joined Basketball team</p>
                                            <p class="text-muted m-0">2hrs ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-4">
                        <div class="card shadow border-0">
                            <div class="card-body row align-items-center p-3" style="border-radius: 20px;">
                                <div class="col-auto d-flex align-items-center">
                                    <svg class="p-2 rounded-circle bg-opacity-50" style="background: #F9D7C7;" width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M12 2 0 9 12 16 22 10.1667V17.5H24V9L12 2ZM3.99902 13.4905V18.0001C5.82344 20.429 8.72812 22.0001 11.9998 22.0001 15.2714 22.0001 18.1761 20.429 20.0005 18.0001L20.0001 13.4913 12.0003 18.1579 3.99902 13.4905Z"></path></svg>
                                    <span class="ms-2 fw-bold">Academic Performance</span>
                                </div>
                                <div class="col">
                                    <canvas id="activityChart1" height="60"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card shadow border-0">
                            <div class="card-body row align-items-center p-3" style="border-radius: 20px;">
                                <div class="col-auto d-flex align-items-center">
                                    <svg class="p-2 rounded-circle bg-opacity-50" style="background: #CBD6EA;" width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue"><path d="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM17.3628 15.2332C20.4482 16.0217 22.7679 18.7235 22.9836 22H20C20 19.3902 19.0002 17.0139 17.3628 15.2332ZM15.3401 12.9569C16.9728 11.4922 18 9.36607 18 7C18 5.58266 17.6314 4.25141 16.9849 3.09687C19.2753 3.55397 21 5.57465 21 8C21 10.7625 18.7625 13 16 13C15.7763 13 15.556 12.9853 15.3401 12.9569Z"></path></svg>
                                    <span class="ms-2 fw-bold">Athlete Status</span>
                                </div>
                                <div class="col">
                                    <canvas id="activityChart2" height="60"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card shadow border-0">
                            <div class="card-body row align-items-center p-3" style="border-radius: 20px;">
                                <div class="col-auto d-flex align-items-center">
                                    <svg class="p-2 rounded-circle  bg-opacity-50" style="background: #FFBABA;" width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853Z"></path></svg>
                                    <span class="ms-2 fw-bold">Wellness Health</span>
                                </div>
                                <div class="col">
                                    <canvas id="activityChart3" height="60"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("RightSidebar", Model)

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var days = @Html.Raw(ViewBag.Days); // importante: walang quotes sa paligid
    var heartbeats = @Html.Raw(ViewBag.Heartbeats);

    var ctx = document.getElementById('activityChart1').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: days,
            datasets: [{
                label: 'Total Heartbeat',
                data: heartbeats,
                backgroundColor: ["green","red"],
            }]
        },
        options: {
             plugins: {
            legend: {
                display: true
            }
        },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




    var days = @Html.Raw(ViewBag.Days); // importante: walang quotes sa paligid
    var heartbeats = @Html.Raw(ViewBag.Heartbeats);

    var ctx2 = document.getElementById('activityChart2').getContext('2d');
    new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: days,
            datasets: [{
                label: 'Total Heartbeat',
                data: heartbeats,
                backgroundColor: ["green","red"],
            }]
        },
        options: {
             plugins: {
            legend: {
                display: true
            }
        },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    var days = @Html.Raw(ViewBag.Days); // importante: walang quotes sa paligid
    var heartbeats = @Html.Raw(ViewBag.Heartbeats);

    var ctx3 = document.getElementById('activityChart3').getContext('2d');
    new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: days,
            datasets: [{
                label: 'Total Heartbeat',
                data: heartbeats,
                backgroundColor: ["green","red"],
            }]
        },
        options: {
             plugins: {
            legend: {
                display: true
            }
        },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
